# Sqlite temp files
*.db-shm
*.db-wal

## Get latest from https://github.com/github/gitignore/blob/main/VisualStudio.gitignore
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/

[Bb]in/
[Oo]bj/
