################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/SqliteDb.db-shm
/WebAPI/SqliteDb.db-wal
/.vs
